### Salary of Graduates by Degree Earned
See the repo's README for where to download the data/find documentation.

##### Possible Things to Explore:

What factors contribute to a higher share of students making over $25,000?

Can we visualize statistics by state on to a map of the U.S.

What university is the best value?

In [2]:
import sys
import os
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

'''
chances are that we will not be able to store our data in our working directory
during datafest if we want to use github, as the data will likely be sensitive
company information not available publicly. to help get around this easily i have
written a function that will create a list of panda data frame objects using a
directory path in the standard UNC format. this function takes a second to
complete (240Mb) and causes jupyter to freak out a little, but it should work.
'''
def get_data(directory_path):
    data = []
    for subdir, dirs, files in os.walk(directory_path):
        for file in files:
            f = open(os.path.join(subdir, file))
            data.append(pd.read_csv(f))
    return data

In [3]:
data = get_data("R:\The Library of Dataxandria\Datasets\CollegeScorecard\CollegeScorecard_Raw_Data")
data[0].head(5)
# print(sys.getsizeof(data))

,ï»¿UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,D100_L4,TRANS_4,DTRANS_4,TRANS_L4,DTRANS_L4,ICLEVEL,UGDS_MEN,UGDS_WOMEN,CDR3_DENOM,CDR2_DENOM
0,100636,01230800,12308,COMMUNITY COLLEGE OF THE AIR FORCE,MONTGOMERY,AL,361126613,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2,0.8409,0.1591,NaN,0.0
1,100654,00100200,1002,Alabama A & M University,Normal,AL,35762,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,0.4808,0.5192,NaN,930.0
2,100663,00105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,0.4322,0.5678,NaN,2286.0
3,100672,00574900,5749,ALABAMA AVIATION AND TECHNICAL COLLEGE,OZARK,AL,36360,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2,0.8847,0.1153,NaN,48.0
4,100690,02503400,25034,Amridge University,Montgomery,AL,36117-3553,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,0.7667,0.2333,NaN,31.0